/*Main*/
@font-face {font-family: "segoeuil"; src: url("fonts/segoeuil.ttf");}
html,body {background: #4390e0; margin: 0; padding: 0; height: 100%; font-family: segoeuil, sans-serif;}
#wrapper {min-height: 100%; position: relative;}

/*Menu top*/
#menu {background: #180052; height: 40px; padding: 20px 0 0 0;}
ul#menu_inner {margin: 0;}
ul#menu_inner li {display: inline; padding-left: 10px;}
#menu_inner a {color: #fff; text-decoration: none;}
#menu_inner a:hover {color: #c0c0c0;}
#menu_inner li.logo {color: #fff; margin-left: -20px; padding-right: 20px;}
#menu_inner li.home {background: #2578f0; padding: 10px;}
#menu_inner li.about {background: #60a91a; padding: 10px;}
#menu_inner li.login {background: #af1a40; padding: 10px;}

/*Sub menu*/
#sub_menu {margin-left: 50px;}
#sub_menu a {padding-left: 10px; text-decoration: none; color: #fff;}
#sub_menu a:hover {color: #c0c0c0;}
#sub_menu a.link_add {background: #db562d; padding: 10px;}
#sub_menu a.link_authors_list {background: #a600ac; padding: 10px;}

/*Search*/
#search_form {text-align: center;}
#searchfield {text-align: left; margin: 0 auto; height:30px; width: 300px;}
#submit {height:36px; background: #001941; color: #fff; border: 0px; margin-right: 0;}
#reset {height:36px; background: #a600ac; color: #fff; border: 0px;}
#submit, #reset:hover {cursor: pointer;}
#searchword {text-align: center; color: #fff; padding-right: 120px}

/*Messages*/
#messages{background: #e31200; color:#fff; padding: 10px;}
#messages.info{background: #008800;}

/*Forms & buttons*/
.center_form {width: 335px; padding: 5px 10px 5px 10px; margin: 0 auto; background: #4c2c66; color: #fff;margin-top: 100px;}
input#title, input#name, input#authors, input#username, input#password {text-align: left;margin: 0 auto; height:30px; width: 330px; font-size: 16px;}

/*Content*/
#content {padding: 10px; overflow: auto; padding-bottom: 50px; color: #fff; text-align: center;}

/*about*/
.about {padding:10px;text-align: left;}

/*Footer*/
#footer {position: relative; margin-top: -85px; height: 50px; clear: both; background: #fcd819;}
#footer_inner {margin: 35px 0 0 0; padding-left: 20px; position: relative; top: 13px;}

/*Table*/
.datagrid {margin: 0 auto; width: 1000px; margin-bottom: 20px;}
.datagrid table {width: 1000px; color: #fff;}
.datagrid table th {background: #250040; padding:10px;}
.datagrid table th:first-child {width:10px; text-align: center;}
.datagrid table td {padding:2px; font-weight: bold;}
.datagrid table td:first-child {text-align: center;}
.datagrid table tbody tr:nth-child(odd) {background: #4c2c66; opacity: 0.7;}
.datagrid table tbody tr:nth-child(even) {background: #4c2c66; opacity: 0.8;}
