{% extends 'site.html' %}
{% block content %}
<div class="about">
<h1>Условия задачи</h1>
<h2>Содержание</h2>

<b>Цель тестового задания</b>
<br>
Определить возможную динамику самообучения кандидата. А так же глубину понимания
кода, реализующего тестовое задание.
<br><br>
<b>Задание</b>
<br>
Написать тестовое web-приложение по управлению электронной библиотекой:
<ul style="list-style-type: none;">
	<li>1. Редактирование (доступно авторизованному пользователю при наличии аутентификации):</li>
		<ul style="list-style-type: none;">
			<li>a. Управление списком книг: добавить / удалить / редактировать книгу.</li>
			<li>b. Управление списком авторов: добавить / удалить / редактировать автора.</li>
			<li>c. Запись о книге содержит следующие данные:</li>
				<ul style="list-style-type: none;">
					<li>i. ID</li>
					<li>ii. Название</li>
				</ul>
			<li>d. Запись об авторе содержит следующие данные:</li>
				<ul style="list-style-type: none;">
					<li>i. ID</li>
					<li>ii. Имя</li>
				</ul>
			<li>e. Свзязь между книгами и авторами — многие ко многим.</li>
		</ul>
	<li>2. Поиск книг по названию либо автору (доступно анонимному пользователю при наличии аутентификации).</li>
	<li>3. Аутентификации и авторизация (по желанию кандидата).</li>
</ul>

<b>Технологии, которые должны быть задействованы:</b>
<ul>
	<li>Flask</li>
	<li>SQLAlchemy (Declarative)</li>
	<li>SQLite (встроенный в приложение)</li>
	<li>Jinja2 Templates</li>
	<li>WTForms</li>
	<li>jQuery (желательно, но возможно использование альтернативных решений)</li>
</ul>

Список может быть расширен по усмотрению кандидата, но с обязательным использованием технологий, перечисленных выше.
<br><br>
<b>Дополнительные требования</b>
<br>
<i>Список дополнительных требований следующий:</i>
<ul style="list-style-type: none;">
	<li>1. Код проекта должен быть доступен на сервисе http://github.org или http://bitbucket.org.</li>
	<li>2. Проект должен содержать SQL-скрипты для развертывания базы данных и наполнения ее тестовыми данными.</li>
	<li>3. Пользовательские данные должны валидироваться перед сохранением в БД.</li>
</ul>
</div>

{% endblock %}