{% extends 'site.html' %}
{% block content %}
	{% if form.errors %}
		<ul style="color:red">
			{% for field_name, field_errors in form.errors.items() %}
				{% for error in field_errors %}
					<li>{{form[field_name].label}}: {{error}}</li>
				{% endfor %}
			{% endfor %}
		</ul>
	{% endif %}
	<form name="add" method="POST" action="" class="center_form">
		{{form.csrf_token}}
		<p>Название книги</p>
		<p>{{form.title(size=40)}}</p>
		<p>Имя авторов (можно через запятую)</p>
		<p>{{form.authors(size=40)}}</p>
		<p>{{form.submit}}</p>
	</form>
{% endblock %}