{% extends 'site.html' %}
{% block content %}
	<div class="datagrid">
		<table>
			<thead>
				<tr>
					<th>№</th>
					<th>Авторы</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for author in authors %}
				<tr>
					<td>{{loop.index}}</td>
					<td>{{author.name}}</td>
					<td width="60px">
						<a href="/edit_author/{{author.id}}">
							<img src="static/img/edit.png" width="28px"/></a>
						<a href="/del_author/{{author.id}}">
							<img src="static/img/del.png" width="28px"/></a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}