{% extends 'site.html' %}
{% block content %}
	<form name="edit_book" method="POST" action="" class="center_form">
		{{form.csrf_token}}
		<p>Название книги</p>
		<p>{{form.title(size=40)}}</p>
		<p>{{form.submit}}</p>
	</form>
{% endblock %}