{% extends 'site.html' %}
{% block content %}
	<form name="edit_author" method="POST" action="" class="center_form">
		{{form.csrf_token}}
		<p>Имя автора</p>
		<p>{{form.name(size=40)}}</p>
		<p>{{form.submit}}</p>
	</form>
{% endblock %}