{% extends 'site.html' %}
{% block content %}
		<div style="display:inline" id="sub_menu">
			<a class="link_add" href="add">Добавить</a> 
			<a class="link_authors_list" href="authors">Список авторов</a>
			<br><br>
			<form method="POST" name="search" id="search_form">
				{{form.searchfield(placeholder='Поиск')}}
				{{form.submit}}
				<input id="reset" type="reset" value="Сбросить" onclick="window.location.href='{{path}}'">
			</form>
			{% if searchword %}
				<div id="searchword">Вы искали: {{searchword}}</div>
			{% endif %}
		</div>
		<br>
		<div class="datagrid">
			<table>
				<thead>
					<tr>
						<th>№</th>
						<th>Книга</th>
						<th>Авторы</th>
					</tr>
				</thead>
				<tbody>
					{% for item in books %}
					<tr>
						<td>{{loop.index}}</td>
						<td>
							<p>
								{{item.title}}
								<a style="float:right; margin-right:5px" href="/del_book/{{item.id}}">
									<img src="static/img/del.png" width="28px"/></a>&nbsp;
								<a style="float:right" href="/edit_book/{{item.id}}">
									<img src="static/img/edit.png" width="28px"/></a>
							</p>
						</td>
						<td>
							{% for author in item.authors %}
								<p>
									{{author.name}}	
									<a style="float:right; margin-right:5px" href="/del_author/{{author.id}}">
										<img src="static/img/del.png" width="28px"/></a>&nbsp;
									<a style="float:right" href="/edit_author/{{author.id}}">
										<img src="static/img/edit.png" width="28px"/></a>
								</p>
							{% endfor %}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
{% endblock %}
