{% extends 'site.html' %}
{% block content %}
	{% if form.errors %}
		<ul style="color:red">
			{% for field_name, field_errors in form.errors.items() %}
				{% for error in field_errors %}
					<li>{{form[field_name].label}}: {{error}}</li>
				{% endfor %}
			{% endfor %}
		</ul>
	{% endif %}
	<form method="POST" name="login" action="" class="center_form">
		{{form.csrf_token}}
		<p>Введите Ваш OpenID:<p>
		<p>{{form.openid(size=40)}}</p>
		{% for pr in providers %}
			{% if pr.name != 'Google' %}
        		<a href="javascript:set_openid('{{pr.url}}', '{{pr.name}}');" style="color:yellow;">
        			{{pr.name}}</a> |
        	{% else %}
        		<a href="{{pr.url}}" style="color:yellow;">{{pr.name}}</a> |
        	{% endif %}
        {% endfor %}
		<p style="text-align:left;">Запомнить меня: {{form.remember_me}}</p>
		<p>{{form.submit}}</p>
	</form>
	<script type="text/javascript">
		function set_openid(openid, pr)
		{
		    u = openid.search('<username>')
		    if (u != -1) {
		        // openid requires username
		        user = prompt('Enter your ' + pr + ' username:')
		        openid = openid.substr(0, u) + user
		    }
		    form = document.forms['login'];
		    form.elements['openid'].value = openid
		}
</script>
{% endblock %}


