<!DOCTYPE html>
<html>
<head>
	<title>Library on Flask v.0.10.1</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="openid.server" href="http://openid.yandex.ru/server/" />
</head>
<body>
	<div id="wrapper">
		<div id="menu">
			<ul id="menu_inner">
				<li class="logo">Library on Flask</li>
				<li class="home"><a href="/">Главная</a></li>
				<li class="about"><a href="/about">Условия</a></li>
				{% if not g.user.is_authenticated() %}
    				<li class="login"><a href="/login">Вход</a></li>
  				{% else %}
    				<li class="login"><a href="/logout">Выход</a></li>
  				{% endif %}
			</ul>
		</div>
		{% if get_flashed_messages() %}
			{% for category, message in get_flashed_messages(with_categories=true) %}
			<div id="messages" class="{{category}}">
				{{message}}
			</div>
			{% endfor %}
		{% endif %}
		<div id="content">
			{% block content %}{% endblock %}</div>
	</div>
	<div id="footer">
		<div id="footer_inner">
			{% block footer %}&copy 2014 Library on Flask v.0.10.1{% endblock %}
		</div>
	</div>
</body>
</html>

